# Keep in sync with pyproject.toml
# Waiting for: https://github.com/pypa/pip/issues/11440
# Workaround: use a pre-commit hook with https://github.com/scikit-image/scikit-image/blob/main/tools/generate_requirements.py

# pin pylint version: it has a tendendy for stricter rules in patch updates!
pylint==4.0.4
flake8-docstrings
flake8
black
isort
