name: Check Python code formatting

on:
  push:
    paths:
      - 'ucapi/**'
      - 'requirements.txt'
      - 'test-requirements.txt'
      - 'tests/**'
      - '.github/**/*.yml'
      - 'pyproject.toml'
      - '*.cfg'
  pull_request:
    branches: [main]
    types: [opened, synchronize, reopened]

permissions:
  contents: read

jobs:
  test:
    runs-on: ubuntu-24.04
    strategy:
      matrix:
        python-version: ["3.11", "3.12", "3.13"]

    name: Check Python code formatting
    steps:
      - uses: actions/checkout@v5

      - name: Set up Python ${{ matrix.python-version }}
        uses: actions/setup-python@v6
        with:
          python-version: ${{ matrix.python-version }}

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          if [ -f requirements.txt ]; then pip install -r requirements.txt; fi
          if [ -f test-requirements.txt ]; then pip install -r test-requirements.txt; fi
      - name: Analyzing the code with pylint
        run: |
          python -m pylint --version
          python -m pylint ucapi
      - name: Lint with flake8
        run: |
          python -m flake8 --version
          python -m flake8 ucapi --count --show-source --statistics
      - name: Check code formatting with isort
        run: |
          python -m isort --version
          python -m isort ucapi/. examples/. --check --verbose
      - name: Check code formatting with black
        run: |
          python -m black --version
          python -m black ucapi examples --check --verbose
